@charset "UTF-8";

/*
gradient
#272820 - verde musgo
#9FBEC0 - ciano azulado
#9C5857 - salmon escuro
#6F553C - laranja - medio --- fundo
#DC681B - laranja

*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    /*a borda faca parte da conta dos dados*/
    box-sizing: border-box;
}

/* inciciando pela base do mobile */
body, html {
    background-color: #6F553C;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    /*para centralizar na tela*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*----------------------------------*/
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    /*para que tudo que ficar de fora da borda fica escontido, assim aredonda a borda na imagem*/
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.451);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login>div#imagem {
    display: block;
    background: #6F553C url(../image/img.jpg) no-repeat;
    background-position: left center;
    background-size: cover;
    height: 200px;
}

section#login>div#formulario {
    display: block;
    padding: 10px;
}

div#formulario>h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario>p {
    font-size: 0.8em;
}

div.campo>label {
    display: none;
}

form>div.campo {
    background-color: #6F553C;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

form>input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #DC681B;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

form>input[type=submit]:hover {
    background-color: #853f10;
}

form>a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: #ffffff;
    border: 1px solid #282920;
    color: #282920;
    border-radius: 5px;

    cursor: pointer;
    text-decoration: none;
}

form>a.botao:hover {
    background-color: #666852;
    color: white;
}

form>a.botao>i {
    font-size: 0.8em;
}